<launch>

    <arg name="turtle_id" default="orig"/>
    
    <node pkg = "turtlesim"  type = "turtle_teleop_key"  name = "teleop_key"  respawn = "true" >
        <remap from="/turtle1/cmd_vel"  	  to="/turtle1/cmd_vel"	/>
    </node>

    <node pkg = "rev_turtle"  type = "rev_tur"  name = "rev_turtle"  respawn = "true"     >
        <remap from="/turtle1/cmd_vel"  	  to="/turtle1/cmd_vel"	/>
    </node>

    <!-- respawn and required cannot both be set to true.  -->
    <node  pkg = "turtlesim"  type = "turtlesim_node"  name = "normal_turtle"  required = "true"     >
        <remap from="/turtle1/cmd_vel"  	  to="/turtle1/cmd_vel"	/>
    </node>
  
    <node  pkg = "turtlesim"  type = "turtlesim_node"  name = "reverse_turtle"  required = "true"     >
        <remap from="/turtle1/cmd_vel"  	  to="/turtle1/rev_cmd"	/>
    </node>
</launch>

